parking_project_solution/.vs
lcd_project/.vs
lcd_project/lcd_project/Debug
lcd_key_solution/.vs
lcd_key_solution/lcd_key/Debug
lcd_project/keypad_solution/.vs
parking_project_solution/Debug
.vs
lcd_parking_solution/lcd_parking/Debug
motor_solution/motor/Debug
parking_project_solution/parking_project2/Debug
parking_project_solution/set_password/Debug
parking_solution/parking/Debug
parking_project_solution/avr_parking/Debug
parking_project_solution/parking_project/Debug
parking_project_solution/enum_project/Debug
