parking_project_solution/.vs
lcd_project/.vs
lcd_project/lcd_project/Debug
lcd_key_solution/.vs
lcd_key_solution/lcd_key/Debug
lcd_project/keypad_solution/.vs
parking_project_solution/Debug
.vs
lcd_parking_solution/lcd_parking/Debug
motor_solution/motor/Debug
parking_project_solution/parking_project2/Debug
parking_project_solution/set_password/Debug
parking_solution/parking/Debug
parking_project_solution/avr_parking/Debug
parking_project_solution/parking_project/Debug
parking_project_solution/enum_project/Debug
exercise_solution/exercise/Debug
parking_Solution2/parking_Solution2/Debug
*.xml
*.cproj
*.atsln
exercise_solution/caseExercise/caseExercise/Debug
exercise_solution/exercise/caseExercise/caseExercise/Debug
parking_solution/parking_Solution2/Debug
exercise_solution/exercise/SRF_04_exercise/SRF_04/Debug
exercise_solution/exercise/multi_sr04_solution/sr04_esercise/Debug
exercise_solution/exercise/motor_exercise/motor_exercise/Debug
exercise_solution/exercise/led_exercise/led/Debug
exercise_solution/exercise/SRF_04_exercise/SRF_04/clcd_D8.h
exercise_solution/exercise/parking_total_solution/parking_total/Debug
exercise_solution/exercise/parking_total_solution/parking_total/clcd_D8.h
exercise_solution/exercise/interrupt_exercise_solution/interrupt_exercise/Debug
